@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
            border-radius: $radius;
        -ms-border-radius: $radius;
}

@mixin transition($transition) {
    -webkit-transition: all $transition ease;
       -moz-transition: all $transition ease;
        -ms-transition: all $transition ease;
         -o-transition: all $transition ease;
            transition: all $transition ease;
}
