// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$font-primary: 'Poppins',Arial, sans-serif;

// COLORES

$white: #fff;
$black: #000000;
$darken: #00043c;

$primary: #f79f24;
$secondary: #064acb;
$color-ask-help: rgb(165, 26, 26);
$color-give-help: rgb(230, 147, 39);
$color-help-services: rgb(91, 170, 0);
$color-public-services: rgb(34, 116, 180);

// Mobile menu
$menu-mobile-background: #ededed;
$navbar-toggler-icon: #cdcdcd;
$navbar-toggler-icon-hover: #232323;



// ALTURA DE SECCIONES

$header: var(--header);
$scrollBar: var(--scrollbar);
$footer: var(--footer);
$appHeight: var(--app-height);

$height-real: calc( #{$appHeight} );
$height-header: calc( #{$appHeight} - #{$header} );
$height-footer: calc( #{$appHeight} - #{$footer} );
$height-header-footer: calc( #{$appHeight} - #{ $header} - #{$footer} );