@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba($primary, 0.4);
        box-shadow: 0 0 0 0 rgba($primary, 0.4);
    }

    70% {
        -moz-box-shadow: 0 0 0 30px rgba($primary, 0);
        box-shadow: 0 0 0 30px rgba($primary, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba($primary, 0);
        box-shadow: 0 0 0 0 rgba($primary, 0);
    }
}


@keyframes loader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -136px;
    }
}
