// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

body {
    font-family: $font-primary;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;

    color: lighten($black, 50%);
    background: $white;

    &.menu-show {
        position: fixed;

        overflow: hidden;

        width: 100%;
        height: 100%;
    }
}


/* links */
a {
    transition: .3s all ease;

    color: $primary;

    &:hover,
    &:focus {
        text-decoration: none;

        color: $primary;
        outline: none !important;
    }
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
    font-weight: 400;
    line-height: 1.5;

    color: rgba(0, 0, 0, .8);
}

.social-media {
    display: inline-block;

    p {
        a {
            width: 30px;
            height: 30px;
            margin-right: 4px;

            border-radius: 50%;
            background: rgba(255, 255, 255, .1);

            span {
                color: white;
            }

            &:hover {
                background: $primary;

                span {
                    color: $white;
                }
            }
        }
    }
}


.searchform {
    overflow: hidden;

    height: 46px;

    @include border-radius(5px);

    .form-control {
        font-size: 14px;

        width: calc(100% - 46px);

        color: rgba(0, 0, 0, .7) !important;
        border: none;

        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: rgba(0, 0, 0, .7) !important;
        }

        &::-moz-placeholder {
            /* Firefox 19+ */
            color: rgba(0, 0, 0, .7) !important;
        }

        &:-ms-input-placeholder {
            /* IE 0+ */
            color: rgba(0, 0, 0, .7) !important;
        }

        &:-moz-placeholder {
            /* Firefox 18- */
            color: rgba(0, 0, 0, .7) !important;
        }
    }

    .form-control {
        font-size: 14px;

        height: 46px !important;

        color: $black !important;
        border-radius: 0;
        background: rgba(0, 0, 0, .05) !important;
        box-shadow: none !important;

        &:focus,
        &:active {
            border-color: $black;
        }
    }

    .search {
        width: 46px;
        height: 46px;

        span {
            font-size: 20px;
        }
    }
}

.img-video {
    background-position: top center !important;

    @include media-breakpoint-down(sm) {
        height: 400px;
    }
}

.icon-video {
    width: 80px;
    height: 80px;

    animation: pulse 2s infinite;

    background: $primary;

    @include border-radius(50%);

    span {
        font-size: 20px;

        color: $white;
    }
}

.tabulation-2 {
    .nav-pills {
        .nav-item {
            .nav-link {
                font-weight: 600;

                color: $black;
                border-radius: 4px;
                background: $white;
                box-shadow: 0 9px 21px -16px rgba(0, 0, 0, .15);

                span {
                    color: $primary;
                }

                &.active {
                    color: $white;
                    background: $secondary;

                    span {
                        color: $white;
                    }
                }
            }
        }
    }

    .tab-content {
        padding: 20px;

        background: $white;
        box-shadow: 0 9px 21px -16px rgba(0, 0, 0, .15);
    }
}


//INTRO
.intro-wrap {
    @include media-breakpoint-up(lg) {
        margin-top: -50px;
    }
}

.bg-intro {
    position: relative;

    width: 100%;

    background: $secondary;

    @include media-breakpoint-down(md) {
        &:after {
            display: none;

            background: transparent;
        }
    }

    &:after {
        position: absolute;
        top: 0;
        right: 100%;
        bottom: 0;

        width: 360%;

        content: '';

        background: $secondary;
        // background: #333644;
    }

    .intro-box {
        width: calc(100% - 240px);
        padding: 20px 0;

        @include media-breakpoint-down(md) {
            width: 100%;
            padding-right: 20px;
            padding-left: 20px;
        }

        h2 {
            display: block;

            margin-left: 20px;

            color: $white;

            span {
                color: rgba(255, 255, 255, .4);
            }
        }

        .icon {
            width: 50px;
            height: 50px;

            border: 1px solid rgba(255, 255, 255, .3);
            border-radius: 50%;

            i {
                font-size: 24px;

                color: $white;
            }
        }
    }

    .btn-custom {
        display: block;

        width: 240px;

        text-align: center;

        color: $black;

        @include media-breakpoint-down(sm) {
            width: 100%;
            padding: 20px 0;
        }

        span {
            margin: 0 auto;
        }
    }

    h2 {
        font-size: 18px;

        margin-bottom: 0;
    }
}


//SERVICES
.services {
    position: relative;

    display: block;

    width: 100%;

    @include transition(.3s);

    .d-block {
        margin-bottom: 20px;
    }

    .icon {
        line-height: 1.3;

        position: relative;
        position: relative;
        z-index: 0;

        width: 90px;
        height: 90px;
        margin: 0 auto;

        border-radius: 50%;
        background: $white;
        -webkit-box-shadow: 0 10px 30px -4px rgba(0, 0, 0, .15);
           -moz-box-shadow: 0 10px 30px -4px rgba(0, 0, 0, .15);
                box-shadow: 0 10px 30px -4px rgba(0, 0, 0, .15);

        span {
            font-size: 40px;

            color: $white;
        }
    }

    .media-body {
        h3 {
            font-size: 18px;
            font-weight: 700;

            color: $black;
        }
    }

    .btn-custom {
        font-size: 12px;
        font-weight: 500;

        text-transform: uppercase;

        color: $black;
        border-bottom: 2px solid lighten($black, 90%);

        &:hover {
            color: $secondary;
            border-color: $secondary;
        }
    }
}

.services-2 {
    margin: 0;
    padding: 0;

    li {
        list-style: none;

        span {
            margin-right: 20px;

            color: $secondary;
        }
    }
}


#section-counter {
    position: relative;
    z-index: 0;
}

.ftco-counter {
    position: relative;

    overflow-x: hidden;

    padding: 4em 0;

    background: #202020;

    @include media-breakpoint-down(lg) {
        background-position: center center !important;
    }

    .block-18 {
        display: block;

        width: 100%;

        @include media-breakpoint-down(md) {
            margin-bottom: 2em;
        }
    }

    .text {
        position: relative;

        @include media-breakpoint-down(sm) {
            width: 100%;
        }

        .number {
            font-size: 38px;
            font-weight: 700;
            line-height: 1;

            display: block;

            margin-bottom: 10px;

            color: $primary;
        }

        span {
            font-weight: 600;

            text-transform: uppercase;

            color: rgba(255, 255, 255, .7);
        }
    }

    .counter-wrap {
        @include media-breakpoint-down(sm) {
            margin-bottom: 20px;
        }
    }
}


//STAFF
.staff {
    overflow: hidden;

    margin-bottom: 30px;

    border-radius: 4px;
    -webkit-box-shadow: 0 24px 48px -13px rgba(0, 0, 0, .05);
       -moz-box-shadow: 0 24px 48px -13px rgba(0, 0, 0, .05);
            box-shadow: 0 24px 48px -13px rgba(0, 0, 0, .05);

    @include transition(.3s);

    .img-wrap {
        height: 300px;
    }

    .img {
        display: block;
        // height: 300px;

        width: 100%;

        background-position: top center;

        @include transition(.3s);
    }

    .text {
        position: relative;

        background: $white;

        @include transition(.3s);

        h3 {
            font-size: 18px;
            font-weight: 400;

            margin-bottom: 0;
            margin-bottom: 5px;

            color: $black;

            @include transition(.3s);
        }

        .position {
            font-size: 12px;
            font-weight: 600;

            display: block;
            display: inline-block;

            margin-bottom: 10px;

            letter-spacing: 2px;
            text-transform: uppercase;

            color: $secondary;
        }

        .faded {
            opacity: 1;
        }
    }

    .ftco-social {
        position: absolute;
        top: -50px;
        right: 0;
        left: 0;

        padding: 15px 10px;

        opacity: 0;
        background: transparent;

        @include transition(.3s);

        li {
            position: relative;

            width: 30px;
            height: 30px;

            a {
                width: 30px;
                height: 30px;

                color: $white;
                background: $secondary;

                @include border-radius(50%);
            }
        }
    }

    &:hover,
    &:focus {
        -webkit-box-shadow: 0 24px 48px -13px rgba(0, 0, 0, .11);
           -moz-box-shadow: 0 24px 48px -13px rgba(0, 0, 0, .11);
                box-shadow: 0 24px 48px -13px rgba(0, 0, 0, .11);

        .ftco-social {
            top: -60px;

            opacity: 1;
        }

        .img {
            margin-top: -10px;
        }

        .text {
            h3 {
                color: $primary;
            }
        }
    }
}


//BOOK APPOINTMENT
.ftco-appointment {
    position: relative;

    background-position: center center !important;

    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        width: 100%;

        content: '';

        opacity: 1;
        background: $primary;

        @include media-breakpoint-up(lg) {
            width: 50%;
        }
        @include media-breakpoint-down(md) {
            opacity: .8;
        }
    }

    .half {
        width: 100%;

        h2 {
            font-weight: 600;
        }
    }
}

.appointment {
    .form-group {
        position: relative;

        display: block;

        width: 100%;

        .icon {
            font-size: 16px;

            position: absolute;
            top: 50% !important;
            right: 15px;

            transform: translateY(-50%);

            span {
                font-size: 14px;

                color: rgba(0, 0, 0, .5) !important;
            }
        }

        .select-wrap,
        .input-wrap {
            position: relative;

            select {
                appearance: none;
            }
        }

        .btn {
            display: block !important;

            width: 100%;
        }
    }

    .form-control {
        font-size: 14px;
        font-weight: 500;

        color: rgba(0, 0, 0, .8) !important;
        border: transparent;
        border-radius: 5px;
        background: $white !important;
        box-shadow: none !important;

        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: rgba(0, 0, 0, .5);
        }

        &::-moz-placeholder {
            /* Firefox 19+ */
            color: rgba(0, 0, 0, .5);
        }

        &:-ms-input-placeholder {
            /* IE 10+ */
            color: rgba(0, 0, 0, .5);
        }

        &:-moz-placeholder {
            /* Firefox 18- */
            color: rgba(0, 0, 0, .5);
        }
    }

    textarea.form-control {
        height: inherit !important;
    }
}


//PROJECT
.work {
    position: relative;
    z-index: 0;

    display: block;

    width: 100%;
    height: 270px;
    margin-bottom: 0;

    background-position: top center !important;

    &:after {
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        content: '';

        opacity: 0;
        background: $secondary;

        @include transition(.3s);
    }

    .text {
        opacity: 0;

        span {
            color: rgba(255, 255, 255, .5);
        }
    }

    h2 {
        font-size: 18px;
        line-height: 1.2;

        color: $white;

        a {
            color: $white;
        }
    }

    .desc {
        z-index: 1;
    }

    .icon {
        position: absolute;
        z-index: 1;
        top: 50%;
        right: 50%;

        width: 70px;
        height: 70px;
        margin-top: -70px;

        content: '';
        transform: translate(50%, 50%);

        opacity: 0;
        background: $primary;

        @include border-radius(50%);
        @include transition(.3s);

        span {
            color: $white;
        }
    }

    &:hover {
        &:after {
            opacity: 1;
        }

        .icon {
            opacity: 1;
        }

        .text {
            opacity: 1;
        }
    }
}





.ftco-social {
    padding: 0;

    li {
        display: inline-block;

        margin-right: 10px;

        list-style: none;
    }
}


.form-control {
    font-size: 14px;

    height: 52px !important;

    color: $black !important;
    border-radius: 5px;
    background: $white !important;
    box-shadow: none !important;

    &:focus,
    &:active {
        border-color: $black;
    }
}

textarea.form-control {
    height: inherit !important;
}

.ftco-vh-100 {
    height: 100vh;

    @include media-breakpoint-down(lg) {
        height: inherit;
        padding-top: 5em;
        padding-bottom: 5em;
    }
}

.ftco-animate {
    visibility: hidden;

    opacity: 0;
}



//ABOUT SINGLE

.about-author {
    .desc {
        h3 {
            font-size: 24px;
        }
    }
}


.ftco-section {
    position: relative;

    padding: 2em 0;

    @include media-breakpoint-down(sm) {
        padding: 1em 0;
    }
}

.ftco-bg-dark {
    background: #3c312e;
}

.ftco-no-pt {
    padding-top: 0 !important;
}

.ftco-no-pb {
    padding-bottom: 0 !important;
}


//PRICING
.block-7 {
    margin-bottom: 30px;
    padding: 30px;

    border-radius: 4px;
    background: $white;
    -webkit-box-shadow: 0 24px 48px -13px rgba(0, 0, 0, .05);
       -moz-box-shadow: 0 24px 48px -13px rgba(0, 0, 0, .05);
            box-shadow: 0 24px 48px -13px rgba(0, 0, 0, .05);

    @include transition(.3s);
    @include media-breakpoint-down(md) {
        margin-top: 30px;
    }

    .heading-2 {
        font-size: 14px;
        font-weight: 600;

        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .price {
        display: block;

        margin: 0 0 20px 0;
        padding: 0;

        sup {
            font-size: 16px;

            top: -1em;

            color: $secondary;
        }

        .number {
            font-size: 34px;
            font-weight: 500;

            color: $secondary;
        }
    }

    .excerpt {
        font-size: 11px;
        font-weight: 600;

        letter-spacing: 2px;
        text-transform: uppercase;

        color: $black;
    }

    .label2 {
        text-transform: uppercase;
    }



    &:hover,
    &:focus {
        -webkit-box-shadow: 0 24px 48px -13px rgba(0, 0, 0, .11);
           -moz-box-shadow: 0 24px 48px -13px rgba(0, 0, 0, .11);
                box-shadow: 0 24px 48px -13px rgba(0, 0, 0, .11);
    }
}

.heading-section {
    .subheading {
        font-size: 12px;
        font-weight: 700;

        display: block;

        letter-spacing: 2px;
        text-transform: uppercase;

        color: $primary;
    }

    h2 {
        font-size: 24px;
        font-weight: 700;

        @include media-breakpoint-down(sm) {
            font-size: 28px;
        }
    }

    &.heading-section-white {
        .subheading {
            color: $black;
        }

        h2 {
            color: $black;
        }

        p {
            color: rgba(255, 255, 255, .9);
        }
    }
}

//COVER BG
.img,
.blog-img,
.user-img {
    width: 100%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.aside-stretch-right {
    background: $primary;

    @include media-breakpoint-down(sm) {
        background: transparent;

        &:after {
            display: none;

            background: transparent;
        }
    }

    &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;

        width: 360%;

        content: '';

        background: $primary;
    }
}


//TESTIMONY
.testimony-section {
    position: relative;

    .owl-carousel {
        margin: 0;
    }

    .owl-carousel .owl-stage-outer {
        position: relative;

        padding: 20px 0 2em 0;
    }

    .owl-nav {
        position: absolute;
        top: 100%;

        width: 100%;

        .owl-prev,
        .owl-next {
            position: absolute;

            margin-top: -10px;

            transform: translateY(-50%);

            opacity: 0;
            outline: none !important;

            @include transition(.3s);

            span {
                &:before {
                    font-size: 30px;

                    color: rgba(0, 0, 0, .5);

                    @include transition(.3s);
                }
            }

            &:hover,
            &:focus {
                span {
                    &:before {
                        color: $white;
                    }
                }
            }
        }

        .owl-prev {
            left: 50%;

            margin-left: -80px;
        }

        .owl-next {
            right: 50%;

            margin-right: -80px;
        }
    }

    &:hover {
        .owl-nav {
            .owl-prev,
            .owl-next {
                opacity: 1;
            }

            .owl-prev {
                left: 50%;

                margin-left: -80px;
            }

            .owl-next {
                right: 50%;

                margin-right: -80px;
            }
        }
    }

    .owl-dots {
        text-align: center;

        .owl-dot {
            width: 10px;
            height: 10px;
            margin: 5px;

            border-radius: 50%;
            background: rgba(0, 0, 0, .1);

            &.active {
                background: $secondary;

                &:after {
                    border-color: $secondary;
                }
            }
        }
    }
}

.testimony-wrap {
    position: relative;

    display: block;

    padding: 0 20px;

    border: 1px solid rgba(0, 0, 0, .02);
    border-radius: 5px;
    background: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 30px 33px -41px rgba(0, 0, 0, .24);
       -moz-box-shadow: 0 30px 33px -41px rgba(0, 0, 0, .24);
            box-shadow: 0 30px 33px -41px rgba(0, 0, 0, .24);

    .icon {
        position: absolute;
        top: -20px;
        left: 20px;

        width: 40px;
        height: 40px;

        border-radius: 50%;
        background: $primary;

        span {
            color: $white;
        }
    }

    .user-img {
        position: relative;

        width: 80px;
        height: 80px;

        @include border-radius(50%);
    }

    .name {
        font-size: 20px;
        font-weight: 500;

        margin-bottom: 0;

        color: $black;
    }

    .position {
        font-size: 14px;

        color: lighten($black, 20%);
    }
}




// magnific pop up

.image-popup {
    cursor: -webkit-zoom-in;
    cursor:    -moz-zoom-in;
    cursor:         zoom-in;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    -webkit-transition: all .3s ease-out;
       -moz-transition: all .3s ease-out;
         -o-transition: all .3s ease-out;
            transition: all .3s ease-out;

    opacity: 0;

    -webkit-backface-visibility: hidden;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: .8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}



//blocks 
.block-20 {
    position: relative;

    display: block;
    overflow: hidden;

    height: 250px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.blog-entry {
    @include media-breakpoint-up(md) {
        margin-bottom: 40px;
    }
    @include media-breakpoint-down(sm) {
        margin-bottom: 30px;
    }

    .text {
        position: relative;

        border-top: 0;
        border-radius: 2px;

        .author {
            width: 48px;
            height: 48px;

            border-radius: 50%;
        }

        .desc {
            width: calc(100% - 48px);

            span {
                display: block;

                &:first-child {
                    color: lighten($black, 70%);
                }

                &:last-child {
                    font-weight: 500;

                    color: $secondary;
                }
            }
        }

        .heading {
            font-size: 18px;
            font-weight: 500;

            margin-bottom: 16px;

            a {
                color: $black;

                &:hover,
                &:focus,
                &:active {
                    color: $primary;
                }
            }
        }
    }

    .btn-custom {
        font-size: 12px;
        font-weight: 500;

        letter-spacing: 1px;
        text-transform: uppercase;

        color: darken($primary, 10%);
    }
}


.block-23 {
    ul {
        padding: 0;

        li {
            &,
            > a {
                line-height: 1.5;

                display: table;

                margin-bottom: 15px;
            }

            span {
                color: rgba($white, .7);
            }

            .icon,
            .text {
                display: table-cell;

                vertical-align: top;
            }

            .icon {
                font-size: 18px;

                width: 40px;
                padding-top: 2px;

                color: rgba($white, 1);
            }
        }
    }
}

.block-27 {
    ul {
        margin: 0;
        padding: 0;

        li {
            font-weight: 400;

            display: inline-block;

            margin-bottom: 4px;

            a,
            span {
                line-height: 40px;

                display: inline-block;

                width: 40px;
                height: 40px;

                text-align: center;

                color: lighten($black, 50%);
                border: 1px solid lighten($black, 90%);
                border-radius: 50%;
            }

            &.active {
                a,
                span {
                    color: $white;
                    border: 1px solid transparent;
                    background: $primary;
                }
            }
        }
    }
}


//CONTACT FORM
.wrapper {
    width: 100%;

    -webkit-box-shadow: 0 21px 41px -13px rgba(0, 0, 0, .18);
       -moz-box-shadow: 0 21px 41px -13px rgba(0, 0, 0, .18);
            box-shadow: 0 21px 41px -13px rgba(0, 0, 0, .18);
}

.contact-wrap {
    background: $white;
}

.info-wrap {
    h3 {
        color: $white;
    }

    .dbox {
        width: 100%;
        margin-bottom: 25px;

        color: rgba(255, 255, 255, .8);

        &:last-child {
            margin-bottom: 0;
        }

        p {
            margin-bottom: 0;

            span {
                font-weight: 600;

                color: $white;
            }

            a {
                color: $white;
            }
        }

        .icon {
            width: 50px;
            height: 50px;

            border-radius: 50%;
            background: rgba(255, 255, 255, .1);

            span {
                font-size: 20px;

                color: $white;
            }
        }

        .text {
            width: calc(100% - 50px);
        }
    }
}

.contactForm {
    .form-control {
        border: 2px solid rgba(0, 0, 0, .05) !important;
    }
}

#map {
    width: 100%;
    height: 500px;

    @include media-breakpoint-down(sm) {
        height: 300px;
    }
}



//### .block-21
.block-21 {
    .blog-img {
        display: block;

        width: 80px;
        height: 80px;
    }

    .text {
        width: calc(100% - 100px);

        .heading {
            font-size: 16px;
            font-weight: 400;

            a {
                color: $black;

                &:hover,
                &:active,
                &:focus {
                    color: $primary;
                }
            }
        }

        .meta {
            > div {
                font-size: 12px;

                display: inline-block;

                margin-right: 5px;

                a {
                    color: lighten($black, 50%);
                }
            }
        }
    }
}

/* Blog*/
.post-info {
    font-size: 12px;
    font-weight: bold;

    letter-spacing: .1em;
    text-transform: uppercase;

    color: $white;

    > div {
        display: inline-block;

        .seperator {
            display: inline-block;

            margin: 0 10px;

            opacity: .5;
        }
    }
}

.tagcloud {
    a {
        font-size: 11px;

        display: inline-block;

        margin-right: 4px;
        margin-bottom: 7px;
        padding: 4px 10px;

        text-transform: uppercase;

        color: $black;
        border: 1px solid #ccc;
        border-radius: 4px;

        &:hover {
            border: 1px solid #000;
        }
    }
}

.comment-form-wrap {
    clear: both;
}

.comment-list {
    margin: 0;
    padding: 0;

    .children {
        float: left;

        width: 100%;
        margin: 0;
        padding: 50px 0 0 40px;
    }

    li {
        float: left;
        clear: both;

        width: 100%;
        margin: 0 0 30px 0;
        padding: 0;

        list-style: none;

        .vcard {
            float: left;

            width: 80px;

            img {
                width: 50px;

                border-radius: 50%;
            }
        }

        .comment-body {
            float: right;

            width: calc(100% - 80px);

            h3 {
                font-size: 20px;
            }

            .meta {
                font-size: 13px;

                letter-spacing: .1em;
                text-transform: uppercase;

                color: #ccc;
            }

            .reply {
                font-size: 11px;
                font-weight: 400;

                padding: 5px 10px;

                letter-spacing: .1em;
                text-transform: uppercase;

                color: $black;
                border-radius: 4px;
                background: lighten($black, 90%);

                &:hover {
                    color: $white;
                    background: lighten($black, 0%);
                }
            }
        }
    }
}

.search-form {
    .form-group {
        position: relative;

        input {
            font-size: 14px;

            padding-right: 50px;
        }
    }

    .fa {
        position: absolute;
        top: 50%;
        right: 20px;

        transform: translateY(-50%);
    }
}

#ftco-loader {
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;

    visibility: hidden;

    width: 96px;
    height: 96px;

    transition: opacity .2s ease-out, visibility 0s linear .2s;
    transform: translate(-50%, -50%);

    opacity: 0;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0 24px 64px rgba(0, 0, 0, .24);
}

#ftco-loader.fullscreen {
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 0;

    transform: none;

    border-radius: 0;
    background-color: #fff;
    box-shadow: none;
}

#ftco-loader.show {
    visibility: visible;

    transition: opacity .4s ease-out, visibility 0s linear 0s;

    opacity: 1;
}

#ftco-loader .circular {
    position: absolute;
    top: calc(50% - 24px);
    left: calc(50% - 24px);

    display: block;

    transform: rotate(0deg);
    animation: loader-rotate 2s linear infinite;
}

#ftco-loader .path {
    animation: loader-dash 1.5s ease-in-out infinite;

    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
}
