// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------


.bg-light {
    background: #f8f9fd!important;
}

.bg-secondary {
    background: $secondary !important;
}

.bg-primary {
    background: $primary !important;
}

.text-ask-help {
    color: $color-ask-help;
}

.text-give-help {
    color: $color-give-help;
}

.text-help-services {
    color: $color-help-services;
}

.text-public-services {
    color: $color-public-services;
}

.lock-scroll {
    overflow: hidden;
}

.wrap {
    padding: 25px 0;

    background: #202020;

    .top-wrap {
        font-size: 12px;

        .icon {
            width: 38px;
            height: 38px;

            border: 1px solid $primary;
            border-radius: 50%;
            span {
                color: $primary;
            }
        }

        .text {
            width: calc(100% - 30px);
            padding-left: 15px;

            span {
                display: block;
                &:first-child {
                    text-transform: uppercase;
                }
                &:last-child {
                    color: rgba(255,255,255,.8);
                }
            }
        }
    }
}

.hero-wrap {
    position: relative;

    width: 100%;
    height: $height-header;

    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    @include media-breakpoint-down(lg) {
        background-position: center center !important;
    }

    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        // width: 50%;

        content: '';

        opacity: .4;
        background: $black;
    }

    &.hero-wrap-2 {
        height: 500px;

        .overlay {
            opacity: .5;
        }
        .slider-text {

            height: 500px;

            h1 {
                font-size: 40px;
                font-weight: 400;
            }
        }
    }
    .slider-text {

        h1 {
            font-family: $font-primary;
            line-height: 1.2;

            color: $white;

            @include media-breakpoint-down(md) {
                font-size: 40px;
            }

            span {
                color: $primary;
            }
        }

        .subheading {
            font-family: $font-primary;
            font-size: 15px;
            font-weight: 700;

            letter-spacing: 2px;
            text-transform: uppercase;

            color: $primary;
        }

        p {
            font-size: 18px;
            line-height: 1.5;

            color: rgba(255,255,255,.7);

            strong {
                font-weight: 700;
                a {
                    color: $black;
                }
            }
        }

        .breadcrumbs {
            font-size: 16px;
            font-weight: 400;

            z-index: 99;

            margin-bottom: 20px;

            span {
                color: rgba(255,255,255,.5);
                i {
                    font-size: 12px;
                }
                a {
                    color: rgba(255,255,255,.7);
                    &:hover,
                    &:focus {
                        color: $primary;
                        i {
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}
