<!-- Pie de pagina -->
<footer class="footer ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6 col-lg">
        <div class="ftco-footer-widget mb-4">
          <h2 class="logo"><a href="#">BoliviaSolidaria</a></h2>
          <p>Éstas son las redes de Bolivia Solidaria🤗</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-4">
            <li class="ftco-animate">
              <a href="https://twitter.com/BoSolidaria" target="blank">
                <span class="fa fa-twitter"></span>
              </a>
            </li>
            <li class="ftco-animate">
              <a href="http://fb.me/MapeoBoliviaSolidaria" target="_blank"><span class="fa fa-facebook"></span></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-6 col-lg">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2"></h2>
          <div class="block-23 mb-3">
            <ul>
              <!-- <li><span class="icon fa fa-map-marker"></span><span class="text">Direcc.</span></li> -->
              <li>
                <span class="icon fa fa-phone"></span>
                <span class="text">
                  WhatsApp: (+591)
                  <a target="_blank" href="https://wa.me/59162377517">62377517-</a>
                  <a target="_blank" href="https://wa.me/59175801754">75801754-</a>
                  <a target="_blank" href="https://wa.me/59163149098">63149098</a>
                </span>
              </a></li>
              <li>
                <a href="https://t.me/joinchat/DT5zzlbERJkoDDrBm4xXcQ" target="_blank"><span
                    class="icon fa fa-paper-plane"></span><span class="text">Grupo de Telegram para
                    ser voluntario</span></a></li>
            </ul>
          </div>
          <hr>
          <div>
            <a href="https://gitlab.com/boliviasolidaria/boliviasolidaria" target="blank" alt="Código fuente">
              <span class="icon fa fa-code"></span>
              código fuente
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
