<!-- This file is part of boliviasolidaria
     copyright 2020 <noemi_angles@riseup.net>
-->
<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">
  <%= require('ejs-loader!./includes/head.html')({htmlWebpackPlugin}) %>
  
<body class="about">

  <%= require('ejs-loader!./includes/header.html')() %>

  <section class="ftco-section ftco-no-pt ftco-no-pb bg-light">
    <div class="container">
      <div class="row d-flex no-gutters">
        <div class="col-md-6 pl-md-5">
          <div class="row justify-content-start py-5">
            <div class="col-md-12 heading-section ftco-animate">
              <span class="subheading">#BoliviaSolidaria</span>
  
              <p>
                <b>#BoliviaSolidaria</b> es un grupo de voluntarios independientes que queremos aportar en la colaboración entre ciudadanos. Nuestra iniciativa se materializa a través de una plataforma web que geolocaliza y gestiona acciones de colaboración entre ciudadanos desde cualquier lugar de Bolivia.
              </p>
              <p>
                En este momento, nos encontramos realizando el mapeo de 3 tipos de información:
              </p>
              <ul>
                <li>Solicitudes de ayuda</li>
                <li>Ofertas de ayuda</li>
                <li>Direcciones útiles (para quienes tienen alguna emergencia o ayudan en sus compras a adultos mayores o
                  población en riesgo).</li>
              </ul>
  
              <p>
                Nuestro interés es que quienes necesiten ayuda puedan contar con un panorama de opciones para saber a
                dónde recurrir, y que por medio de la página web puedan encontrar donadores o personas que puedan ofrecer
                su ayuda.
              </p>
              <p>
                Unidos somos más fuertes.
              </p>
            </div>
          </div>
        </div>
        <div id="logo" class="col-md-6 pl-md-6">
          <img class="rounded" height="300" src="static/img/boliviasolidaria.jpeg">
        </div>
      </div>
      <div class="row d-flex no-gutters">
        <div class="col-md-6 pl-md-5">
          <img class="rounded" height="480" src="static/img/rrss.jpeg">
          <br>
          <br>
        </div>
      </div>
    </div>
  </section>

  <%= require('ejs-loader!./includes/footer.html')() %>
  <%= require('ejs-loader!./includes/modal_ofrecer_ayuda.html')() %>
  <%= require('ejs-loader!./includes/modal_solicitar_ayuda.html')() %>
  <%= require('ejs-loader!./includes/modal_datos_covid.html')() %>

  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script> -->

</body>
</html>
