<!-- This file is part of boliviasolidaria
     copyright 2020 <noemi_angles@riseup.net>
-->
<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">
  
  <%= require('ejs-loader!./includes/head.html')({htmlWebpackPlugin}) %>
  
  <body>
    <%= require('ejs-loader!./includes/header.html')() %>

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading">Se parte del equipo de Bolivia solidaria</span>
            <h2>Voluntarias y voluntarios</h2>
          </div>
          <div>
            <h2 class="center">¿Cómo puede colaborar un voluntario/a?</h2>
            <div class="row">
              <div class="col-md-6 services ftco-animate fadeInUp ftco-animated">
                <div class="d-block d-flex">
                  <div class="icon d-flex justify-content-center align-items-center">
                    <span class="text-success fa fa-check"></span>
                  </div>
                  <div class="media-body pl-3">
                    <h3 class="heading">Apoyando en la verificación</h3>
                    <p>El proceso de verificación de información es muy importante, entonces como voluntario/a. Puedes apoyar
                      con esta tarea para que la ayuda llegue a las manos correctas y la información sea lo más precisa posible.</p>
                      <p>Si eres parte de una organización, puedes solicitar un taller al <a href="https://t.me/joinchat/DT5zzlbERJkoDDrBm4xXcQ"  target="_blank">Telegram</a>.</p>
                  </div>
                </div>
                <div class="d-block d-flex">
                  <div class="icon d-flex justify-content-center align-items-center">
                    <span class="text-info fa fa-twitter"></span>
                  </div>
                  <div class="media-body pl-3">
                    <h3 class="heading">Uniéndote a nuestras redes sociales</h3>
                    <p>Puedes apoyarnos difundiendo nuestras redes sociales, también comentando esta iniciativa a más personas, grupos de WhatsApp y medios para reunir a más personas  que ofrezcan ayuda. </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 services ftco-animate fadeInUp ftco-animated">
                <div class="d-block d-flex">
                  <div class="icon d-flex justify-content-center align-items-center">
                    <span class="text-info">#</span>
                  </div>
                  <div class="media-body pl-3">
                    <h3 class="heading">Usando el <a href="#">#BoliviaSolidaria<a/></h3>
                    <p>Utilizando el hashtag #BolviaSolidaria o etiquetando las cuentas de Bolivia Solidaria en publicaciones con solicitudes de ayuda, ofertas de ayuda, direcciones y teléfonos útiles y verificadas.</p>
                    <p>Si conoces de alguna institución o agrupación civil que esté trabajando en la colaboración entre ciudadanos, etiquétanos para completar el ecosistema del trabajo colaborativo en Bolivia.</p>
                  </div>
                </div>
                <div class="d-block d-flex">
                  <div class="icon d-flex justify-content-center align-items-center">
                    <span class="text-warning fa fa-lightbulb-o"></span>
                  </div>
                  <div class="media-body pl-3">
                    <h3 class="heading">Aportando ideas</h3>
                    <p>BoliviaSolidaria es una plataforma de construcción colaborativa continua, puedes ayudar aportando ideas y uniéndote al grupo de coordinación en <a href="https://t.me/joinchat/DT5zzlbERJkoDDrBm4xXcQ"  target="_blank">Telegram</a> .</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <h2> Actividades en curso</h2>
          <div class="row justify-content-center">
            <div class=" col-md-3">
              <div class="card" style="height: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">Solicitud de ayuda</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Covid-19</h6>
                  <p class="card-text">Pon tu solicitud de ayuda o la solicitud de ayuda de un tercero en <a href="index.html"> nuestra página</a>.</p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card" style="height: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">Ofrecimiento de Ayuda</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Covid-19</h6>
                  <p class="card-text">Pon tu oferta de ayuda en <a href="index.html">el mapa de la página</a>. </p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card" style="height: 20rem;" >
                <div class="card-body">
                  <h5 class="card-title">Mapeo de servicio públicos</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Covid-19</h6>
                  <p class="card-text">Ayúdanos a <a href="index.html">mapear direcciones útiles</a> en esta emergencia. Como ser farmacias, centro de salud, bancos y otros.
                    Los servicios públicos que consideres necesarios para la emergencia.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%= require('ejs-loader!./includes/footer.html')() %>

    <%= require('ejs-loader!./includes/modal_ofrecer_ayuda.html')() %>
    <%= require('ejs-loader!./includes/modal_solicitar_ayuda.html')() %>
    <%= require('ejs-loader!./includes/modal_datos_covid.html')() %>

  </body>
</html>
