// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.ftco-navbar-light {
    z-index: 3;

    padding: 0;

    background: $white !important;

    @include media-breakpoint-down(md) {
        position: relative;
        top: 0;

        padding: 10px 15px;

        background: $black !important;
    }

    .navbar-nav {
        @include media-breakpoint-down(md) {
            padding-bottom: 10px;
        }

        >.nav-item {
            >.nav-link {
                font-size: 12px;
                font-weight: 500;

                position: relative;

                padding-top: 1rem;
                padding-right: 23px;
                padding-bottom: 1rem;
                padding-left: 23px;

                letter-spacing: 1px;
                text-transform: uppercase;

                opacity: 1 !important;
                color: $black;

                @include media-breakpoint-down(md) {
                    padding-top: .9rem;
                    padding-right: 0;
                    padding-bottom: .9rem;
                    padding-left: 0;

                    color: rgba(255, 255, 255, .7);

                    &:hover {
                        color: $white;

                        &:before {
                            display: none;
                        }
                    }
                }

                &:before {
                    position: absolute;
                    z-index: -1;
                    bottom: 0;
                    left: 0;

                    visibility: hidden;

                    width: 100%;
                    height: 100%;

                    content: '';
                    -webkit-transition: all .2s ease-in-out 0s;
                    transition: all .2s ease-in-out 0s;
                    -webkit-transform: scaleX(0);
                    transform: scaleX(0);

                    background-color: $primary;
                }

                &:hover {
                    color: $black;

                    &:before {
                        visibility: visible;

                        -webkit-transform: scaleX(1);
                        transform: scaleX(1);

                        background-color: $primary;
                    }
                }
            }

            .dropdown-menu {
                border: none;
                border-radius: 4px;
                background: $white;
                box-shadow: 0 10px 34px -20px rgba(0, 0, 0, .41);

                @include media-breakpoint-down(md) {
                    display: block !important;

                    background: $black;

                    .dropdown-item {
                        color: rgba(255, 255, 255, .8);
                    }
                }

                .dropdown-item {
                    font-size: 12px;

                    color: $black;

                    &:hover,
                    &:focus {
                        color: $white;
                        background: none;
                    }
                }
            }


            &.cta {
                >a {
                    color: $white;
                    border-radius: 0;
                    background: $primary;

                    @include media-breakpoint-down(sm) {
                        padding-right: 15px;
                        padding-left: 15px;
                    }

                    @include media-breakpoint-down(md) {
                        color: $white;
                        border-radius: 4px;
                        background: none;
                    }
                }
            }

            &.active {
                >a {
                    color: $white;

                    @include media-breakpoint-down(md) {
                        color: $primary;

                        &:before {
                            display: none;
                        }
                    }

                    &:before {
                        visibility: visible;

                        -webkit-transform: scaleX(1);
                        transform: scaleX(1);

                        background-color: $primary;
                    }
                }
            }
        }
    }

    .navbar-toggler {
        font-size: 16px;

        padding-right: 0;

        cursor: pointer;
        letter-spacing: .1em;
        text-transform: uppercase;

        color: rgba(255, 255, 255, .5) !important;
        border: none;

        &:focus {
            outline: none !important;
        }
    }
}

.navbar-brand {
    font-size: 22px;
    font-weight: 800;
    line-height: 1;

    margin-bottom: 0;
    // text-transform: uppercase;

    color: $white;

    span {
        color: $primary;
    }

    &:hover,
    &:focus {
        color: $black;
    }
}

.dropdown-menu {
    margin-top: 0;
}

/* Mobile Header */

nav#mobile-navigation {
    align-items: center;

    a {
        cursor: pointer;
        transition: color .3s ease;
    }

    span.navbar-toggler-icon {
        position: relative;
        z-index: 1;

        display: block;

        width: 33px;
        height: 4px;
        margin-bottom: 5px;

        transition: transform .5s cubic-bezier(.77, .2, .05, 1),
        background .5s cubic-bezier(.77, .2, .05, 1), opacity .55s ease;
        transform-origin: 4px 0;

        border-radius: 3px;
        background: $navbar-toggler-icon;

        &:first-child {
            transform-origin: 0 0;
        }

        &:nth-child(2) {
            transform-origin: 0 100%;
        }
    }

    button {
        &.btn-menu {
            z-index: 2;
        }

        &:focus {
            outline: none;
        }

        /* Active state */
        &.active,
        &#btn-menu-mobile-3 {
            > span.navbar-toggler-icon:nth-child(1) {
                transform: rotate(45deg) translate(-2px, -1px);

                opacity: 1;
                background: $navbar-toggler-icon-hover;
            }

            > span.navbar-toggler-icon:nth-child(2) {
                transform: rotate(0deg) scale(.2, .2);

                opacity: 0;
            }

            > span.navbar-toggler-icon:nth-child(3) {
                transform: rotate(-45deg) translate(-3px, -3px);

                background: $navbar-toggler-icon-hover;
            }
        }
    }
}

ul.menu {
    position: fixed;
    z-index: 1;

    visibility: hidden;
    overflow: auto;

    width: 300px;
    height: $height-real;
    padding: $header 50px 50px 70px;

    list-style-type: none;

    transition: transform .5s cubic-bezier(.77, .2, .05, 1), visibility .5s cubic-bezier(.77, .2, .05, 1);
    transform-origin: 0 0;

    background: $menu-mobile-background;

    -webkit-font-smoothing: antialiased;

    &.show {
        visibility: visible;
    }

    li {
        font-size: 22px;

        padding: 10px 0;
    }

    button {
        line-height: 0;

        position: absolute;
        top: 1em;
        left: 1em;

        span {
            font-weight: normal;
        }
    }
}

ul.mobile-menu {
    top: 0;
    right: 100%;


    &.show {
        transform: translate(100%, 0);
    }
}

ul.mobile-indication {
    z-index: 3;
    top: 0;
    left: 100%;

    text-align: center;

    &.show {
        transform: translate(-100%, 0);
    }
}
