// SIDEBAR
.sidebar-box {
    font-size: 15px;

    float: left;

    width: 100%;
    margin-bottom: 40px;

    background: $white;

    *:last-child {
        margin-bottom: 0;
    }

    h3 {
        font-size: 18px;
        font-weight: 500;

        margin-bottom: 15px;
    }
}

.categories,
.sidelink {
    li {
        position: relative;

        margin-bottom: 10px;
        padding-bottom: 10px;

        list-style: none;

        border-bottom: 1px solid gray('300');

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;

            border-bottom: none;
        }

        a {
            display: block;

            color: lighten($black, 10%);

            span {
                font-size: 12px;

                position: absolute;
                top: 50%;
                right: 0;

                transform: translateY(-50%);

                color: #ccc;
            }

            &:hover,
            &:focus {
                color: $primary;
                outline: none;
            }
        }

        &.active {
            a {
                color: $primary;

                span {
                    color: $primary;
                }
            }
        }
    }
}
